Repository RasaHQ/rasa, pull requests merged in 2021-07, with the labels that each got.

#8985 Dynamic sparse feature allocation for flexible incremental training
  changelog/8232.improvement.md
  data/test_incremental_training/iter1/nlg_training_data.yml
  data/test_incremental_training/iter1/training_data.yml
  data/test_incremental_training/iter2/training_data.yml
  docs/docs/command-line-interface.mdx
  docs/docs/components.mdx
  docs/docs/migration-guide.mdx
  rasa/nlu/classifiers/diet_classifier.py
  rasa/nlu/constants.py
  rasa/nlu/featurizers/sparse_featurizer/count_vectors_featurizer.py
  rasa/nlu/featurizers/sparse_featurizer/regex_featurizer.py
  rasa/nlu/selectors/response_selector.py
  rasa/shared/nlu/training_data/message.py
  rasa/utils/tensorflow/layers.py
  rasa/utils/tensorflow/model_data.py
  rasa/utils/tensorflow/model_data_utils.py
  rasa/utils/tensorflow/models.py
  rasa/utils/tensorflow/rasa_layers.py
  tests/nlu/classifiers/test_diet_classifier.py
  tests/nlu/featurizers/test_count_vectors_featurizer.py
  tests/nlu/featurizers/test_regex_featurizer.py
  tests/nlu/selectors/test_selectors.py
  tests/shared/nlu/training_data/test_message.py
  tests/utils/tensorflow/test_layers.py
  tests/utils/tensorflow/test_model_data_utils.py
  tests/utils/tensorflow/test_models.py
  tests/utils/tensorflow/test_rasa_layers.py
Labels: area:rasa-oss :ferris_wheel:, area:rasa-oss/ml 👁, research:incremental-training

#9011 Fix Coveralls reporting
  .github/workflows/continous-integration.yml
Labels: status:all-tests-required

#8929 Convert Intent ID Hashes from Integer to String
  changelog/8929.improvement.md
  data/test_endpoints/event_brokers/kafka_sasl_plaintext_endpoint.yml
  rasa/core/brokers/kafka.py
  tests/core/test_broker.py
Labels: area:rasa-oss/event-brokers

#9064 Increase speed of augmented lookup for `AugmentedMemoizationPolicy`
  changelog/5546.bugfix.md
  changelog/5546.improvement.md
  rasa/core/policies/memoization.py
  rasa/core/training/generator.py
  tests/core/policies/test_memoization.py
  tests/core/test_processor.py
Labels: status:model-regression-tests
