Repository RasaHQ/rasa, pull requests merged in 2021-12, with the labels that each got.

#10428 Overriding default config in case of nested dictionaries
  changelog/10391.bugfix.md
  rasa/core/policies/unexpected_intent_policy.py
  rasa/engine/graph.py
  rasa/utils/common.py
  rasa/utils/train_utils.py
  tests/engine/test_graph_node.py
  tests/nlu/classifiers/test_diet_classifier.py
  tests/utils/test_common.py
Labels: type:bug :bug:, area:rasa-oss :ferris_wheel:, status:ready-to-merge

#10494 Raise an exception if a policy has no priority
  changelog/10143.misc.md
  rasa/graph_components/validators/default_recipe_validator.py
  tests/graph_components/validators/test_default_recipe_validator.py
Labels: feature:rasa-3.0/architecture, 3.0.0rc-QA-issue

#7491 Change example to 5 minutes
  docs/docs/reaching-out-to-user.mdx
Labels: type:docs :book:, priority:normal
