Repository RasaHQ/rasa, pull requests merged in 2021-08, with the labels that each got.

#9251 Add missing severity to vulnerability report
  .github/workflows/vulnerability-scan.yml
Labels: area:rasa-oss/infrastructure :bullettrain_front:, type:maintenance :wrench:

#9269 3.0 architecture revamp/integration branch
  poetry.lock
  pyproject.toml
  rasa/engine/__init__.py
  rasa/engine/caching.py
  rasa/engine/exceptions.py
  rasa/engine/graph.py
  rasa/engine/loader.py
  rasa/engine/runner/__init__.py
  rasa/engine/runner/dask.py
  rasa/engine/runner/interface.py
  rasa/engine/storage/__init__.py
  rasa/engine/storage/local_model_storage.py
  rasa/engine/storage/resource.py
  rasa/engine/storage/storage.py
  rasa/engine/training/__init__.py
  rasa/engine/training/components.py
  rasa/engine/training/fingerprinting.py
  rasa/engine/training/graph_trainer.py
  rasa/engine/training/hooks.py
  rasa/engine/validation.py
  rasa/nlu/components.py
  rasa/nlu/model.py
  rasa/nlu/utils/__init__.py
  rasa/shared/utils/common.py
  rasa/utils/common.py
  tests/conftest.py
  tests/engine/__init__.py
  tests/engine/conftest.py
  tests/engine/graph_components_test_classes.py
  tests/engine/runner/__init__.py
  tests/engine/runner/test_dask.py
  tests/engine/storage/__init__.py
  tests/engine/storage/test_local_model_storage.py
  tests/engine/storage/test_resource.py
  tests/engine/storage/test_storage.py
  tests/engine/test_caching.py
  tests/engine/test_graph.py
  tests/engine/test_graph_node.py
  tests/engine/test_loader.py
  tests/engine/test_validation.py
  tests/engine/training/__init__.py
  tests/engine/training/test_components.py
  tests/engine/training/test_graph_trainer.py
  tests/engine/training/test_hooks.py
  tests/nlu/test_components.py
  tests/utils/test_common.py
Labels: tools:clear-poetry-cache-unit-tests

#9370 Increase speed of augmented lookup for `AugmentedMemoizationPolicy`
  changelog/5546.improvement.md
  rasa/core/policies/memoization.py
  tests/core/policies/test_memoization.py
Labels: research:feature-performance-improvement
