Repository RasaHQ/rasa, pull requests merged in 2021-05, with the labels that each got.

#8504 8461 non expressive variable name
  changelog/8461.enhancement.md
  rasa/utils/tensorflow/transformer.py
Labels: area:rasa-oss/ml 👁

#8225 Change --data type in 'rasa data validate' command
  changelog/8225.improvement.md
  data/test_config/config_defaults.yml
  rasa/cli/arguments/default_arguments.py
  rasa/cli/data.py
  rasa/nlu/convert.py
  tests/cli/test_rasa_data.py
  tests/cli/test_rasa_x.py
Labels: area:rasa-oss/cli, type:enhancement :sparkles:

#8652 Improve response selector defaults when transformer is enabled
  changelog/8046.bugfix.md
  docs/docs/components.mdx
  rasa/nlu/selectors/response_selector.py
  tests/nlu/selectors/test_selectors.py
Labels: area:rasa-oss/ml/nlu-components

#8471 Improve plot_paired_histogram
  changelog/7912.improvement.md
  rasa/nlu/test.py
  rasa/utils/plotting.py
  tests/utils/test_plotting.py
Labels: type:maintenance :wrench:
