Repository RasaHQ/rasa, pull requests merged in 2021-06, with the labels that each got.

#8771 removed creating extra buffer in RegexFeaturizer and CountVectorsFeaturizer
  changelog/8749.improvement.md
  docs/docs/command-line-interface.mdx
  docs/docs/components.mdx
  rasa/nlu/constants.py
  rasa/nlu/featurizers/sparse_featurizer/count_vectors_featurizer.py
  rasa/nlu/featurizers/sparse_featurizer/regex_featurizer.py
  tests/nlu/featurizers/test_count_vectors_featurizer.py
  tests/nlu/featurizers/test_regex_featurizer.py
Labels: area:rasa-oss :ferris_wheel:, area:rasa-oss/ml 👁, research:incremental-training, type:enhancement :sparkles:

#8795 Calculate/Persist/Load sparse feature sizes
  changelog/8750.misc.md
  rasa/nlu/classifiers/diet_classifier.py
  rasa/nlu/selectors/response_selector.py
  rasa/shared/nlu/training_data/message.py
  rasa/utils/tensorflow/model_data.py
  rasa/utils/tensorflow/model_data_utils.py
  tests/nlu/classifiers/test_diet_classifier.py
  tests/shared/nlu/training_data/test_message.py
  tests/utils/tensorflow/test_model_data_utils.py
Labels: area:rasa-oss/ml 👁, research:incremental-training

#8884 [CI] fix flakey CI
  .github/workflows/ci-docs-tests.yml
  .github/workflows/ci-model-regression-on-schedule.yml
  .github/workflows/ci-model-regression.yml
  .github/workflows/continous-integration.yml
  .github/workflows/documentation.yml
  .github/workflows/security-scans.yml
Labels: status:all-tests-required

#8903 Switch back to upstream lazy-actions/gitrivy
  .github/workflows/vulnerability-scan.yml
Labels: area:rasa-oss/infrastructure :bullettrain_front:, type:maintenance :wrench:

#8956 Add docs to dependabot
  .github/dependabot.yml
Labels: area:rasa-oss/infrastructure :bullettrain_front:, type:maintenance :wrench:

#8796 Adjusting DenseForSparse layers
  changelog/8751.improvement.md
  data/test_incremental_training/iter1/nlg_training_data.yml
  data/test_incremental_training/iter1/training_data.yml
  data/test_incremental_training/iter2/training_data.yml
  rasa/nlu/classifiers/diet_classifier.py
  rasa/nlu/featurizers/sparse_featurizer/count_vectors_featurizer.py
  rasa/utils/tensorflow/layers.py
  rasa/utils/tensorflow/models.py
  rasa/utils/tensorflow/rasa_layers.py
  tests/nlu/classifiers/test_diet_classifier.py
  tests/nlu/featurizers/test_count_vectors_featurizer.py
  tests/nlu/selectors/test_response_selector.py
  tests/utils/tensorflow/test_layers.py
  tests/utils/tensorflow/test_models.py
  tests/utils/tensorflow/test_rasa_layers.py
Labels: area:rasa-oss/ml 👁, research:incremental-training
