Repository RasaHQ/rasa, pull requests merged in 2022-01, with the labels that each got.

#10605 Fix AugmentedMemoizationPolicy max history bug.
  .github/workflows/ci-model-regression.yml
  changelog/10606.bugfix.md
  rasa/core/policies/memoization.py
  tests/core/policies/test_memoization.py
Labels: type:bug :bug:, area:rasa-oss/ml/policies

#10721 Upgrade poetry to 1.1.11
  .github/poetry_version.txt
  docker/docker-bake.hcl
  poetry.lock
Labels: status:all-tests-required

#10738 Use tf.function for model prediction in RasaModel.
  changelog/10728.bugfix.md
  rasa/utils/tensorflow/models.py
Labels: runner:gpu, status:model-regression-tests
